<!DOCTYPE html>
<html>
  <head>
    <title>Heroes Digitales</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>Heroes Digitales</h1>
        <p><% dataJD %></p>
  </body>
</html>